{% extends "base.html" %}
{% block title %}Edit Transaction{% endblock %}
{% block content %}
<div class="container">
  <h2 class="mb-4">Edit Transaction</h2>
  <form method="post" novalidate>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="mb-3">
      <label for="amount" class="form-label">Amount</label>
      <input type="number" step="0.01" class="form-control" id="amount" name="amount" value="{{ transaction.amount }}"
        required>
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <input type="text" class="form-control" id="description" name="description" value="{{ transaction.description }}">
    </div>
    <div class="mb-3">
      <label for="category_id" class="form-label">Category</label>
      <select class="form-select" id="category_id" name="category_id" required>
        <option value="">Select Category</option>
        {% for category in categories|sort(attribute='name') %}
        <option value="{{ category.id }}" data-name="{{ category.name }}" {% if category.id==transaction.category_id
          %}selected{% endif %}>
          {{ category.name }}
        </option>
        {% endfor %}
        <option value="other" {% if transaction.category_id not in categories|map(attribute='id' ) %}selected{% endif
          %}>
          Other (enter new)
        </option>
      </select>
    </div>
    <div class="mb-3" id="new-category-div" style="display: none;">
      <label for="new_category_name" class="form-label">New Category Name</label>
      <input type="text" class="form-control" id="new_category_name" name="new_category_name"
        placeholder="Enter new category name">
    </div>
    <div class="mb-3">
      <label for="account_id" class="form-label">Account</label>
      <select class="form-select" id="account_id" name="account_id" required>
        <option value="" disabled {% if not transaction.account_id %}selected{% endif %}>Select Account</option>
        {% for acc in account_types %}
        <option value="{{ acc.id }}" {% if acc.id==transaction.account_id %}selected{% endif %}>{{ acc.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="is_transfer" name="is_transfer" {% if transaction.is_transfer
        %}checked{% endif %}>
      <label class="form-check-label" for="is_transfer">Mark as Transfer</label>
    </div>
    <button type="submit" class="btn btn-primary">Update Transaction</button>
    <a href="{{ url_for('transactions.transactions') }}" class="btn btn-secondary">Cancel</a>
  </form>
</div>
<script src="{{ url_for('static', filename='js/toggle_category.js') }}"></script>
{% endblock %}