{% extends "base.html" %}
{% block content %}
<h1>Edit Account Type: {{ account_type.name }}</h1>
<form method="POST">
  {{ form.hidden_tag() }}
  <p>
    {{ form.name.label }}<br>
    {{ form.name(size=32) }}
  </p>
  <p>
    {{ form.category_field.label }}<br>
    {{ form.category_field(size=32) }}
  </p>
  <p>
    {{ form.date_field.label }}<br>
    {{ form.date_field(size=32) }}
  </p>
  <p>
    {{ form.amount_field.label }}<br>
    {{ form.amount_field(size=32) }}
  </p>
  <p>
    {{ form.description_field.label }}<br>
    {{ form.description_field(size=32) }}
  </p>
  <p>
    {{ form.positive_expense.label }} {{ form.positive_expense() }}
  </p>
  <p>{{ form.submit() }}</p>
</form>
<a href="{{ url_for('account_types.index') }}">Back to Account Types</a>
{% endblock %}